<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Login_geral.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='Login_retrato.css') }}" media="screen and (orientation: portrait)">
    <link rel="stylesheet" href="{{ url_for('static', filename='Login_paisagem.css') }}" media="screen and (orientation: landscape)">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icone.ico') }}" type="image/x-icon">
</head>
<body>
    <!-- Tela de login -->  
    <header>
        <img src="{{ url_for('static', filename='Logo.png') }}" alt="Logo da Dogtor">
        <h1>Tela de Login</h1>
    </header>

    <main>
        <section id="login">
            <h2>Entrar</h2>
            <p>Acesse sua conta</p>

            <form action="#" method="post">
                <input type="text" id="usuario" placeholder="Usuario">
                <input type="password" id="senha" placeholder="••••••••">

                <label for="exibir_senha">
                    <input type="checkbox" name="exibir" id="exibir_senha">
                    Exibir senha
                </label>

                <button type="submit">Confirmar</button>
            </form>
        </section>

        <section id="register">
            <a href="#">Sem conta? clique para criar</a>
        </section>
    </main>

    <script>
        document.getElementById('exibir_senha').addEventListener('change', function() {
            const campo = document.getElementById('senha');
            campo.type = this.checked ? 'text' : 'password';
        })
    </script>
</body>
</html>