<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de livros</title>
</head>
<body>
    <form action="/novo_livro" method="post">
        <input type="text" name="titulo" placeholder="Título do livro">
        <input type="text" name="autor" placeholder="Autor do livro">
        <input type="number" name="paginas" placeholder="Páginas do livro">

        <button>Cadastrar</button>
    </form>
</body>
</html>