<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de livros</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>titulo</th>
                <th>autor</th>
                <th>n° páginas</th>
            </tr>
        </thead>
        <tbody>
            {% for livro in livros %}
                <tr>
                    <td>{{ livro["titulo"] }}</td>
                    <td>{{ livro["autor"] }}</td>
                    <td>{{ livro["paginas"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>