/* Configurações gerais da tela de login */

@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-image: url("/static/Fundo_login.JPG");
    background-color: rgb(255, 255, 255);
    background-position: top center;
}

header {
    position: fixed;      
    top: 0;
    left: 0;
    width: 100%; 
    height: 1;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #2a8c4bee;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.486);
    z-index: 999;
}

header > img {
    height: 100px;        
}

header > h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #9BFAB0;
    text-shadow: 1px 1px 5px black;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #d0fdd7cb;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.678);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.466);
}

main > section#login > h2 {

    font-weight: normal;
}

main > section#login > p{
    color: rgb(70, 70, 70);
    font-size: 13px;
    font-weight: 100;
}

main > section#login > form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 25px;
    align-items: center;
}

main > section#login > form > input {
    height: 30px;
    padding-left: 5px;
    border-radius: 5px;
    border-style: none;
    border: 1px solid gray;
}

main > section#login > form > input:focus {
    outline: none;
    border: 1px solid #64c27b;
    box-shadow: 0px 0px 5px #64c27b;
}

main > section#login > form > button {
    width: 120px;
    height: 35px;
    background-color: #2A8C4A;
    color: white;
    border: 1px solid gray(0, 0, 0, 0.781);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.479);
    border-radius: 10px;
}

main > section#login > form > button:hover {
    background-color: #9BFAB0;
    color: black;
}

main > section#register {
    margin-top: 20px;
}

main > section#register > a {
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.459);
    color: #9BFAB0;
    font-weight: bold;
}

main > section#register > a:hover {
    text-decoration: underline;
}
